apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: home-assistant-pvc
  namespace: home-assistant
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ""
  volumeName: home-assistant-pv
  resources:
    requests:
      storage: 1Gi
