apiVersion: v2
appVersion: 2025.12.4
description: Automatically Updated Helm Chart for Home Assistant
home: https://github.com/pajikos/home-assistant-helm-chart
icon: https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Home_Assistant_Logo.svg/519px-Home_Assistant_Logo.svg.png
keywords:
  - home-assistant
  - hass
  - homeassistant
kubeVersion: '>=1.16.0-0'
maintainers:
  - email: sklenar.pav@gmail.com
    name: pajikos
name: home-assistant-umbrella
sources:
  - https://github.com/pajikos/home-assistant-helm-chart
  - https://github.com/cdr/code-server
  - https://github.com/pajikos/home-assistant-helm-chart/tree/main/charts/home-assistant
  - https://artifacthub.io/packages/helm/helm-hass/home-assistant
type: application
version: 0.3.36
dependencies:
  - name: home-assistant
    repository: http://pajikos.github.io/home-assistant-helm-chart
    version: 0.3.36