home-assistant:

  controller:
    type: Deployment

  image:
    tag: "2025.8"

  env:
    - name: TZ
      value: "Europe/Berlin"

  hostNetwork: true

  dnsPolicy: ClusterFirstWithHostNet

  service:
    port: 8123

  persistence:
    enabled: true
    existingClaim: "home-assistant-pvc"

  deploymentStrategy: Recreate
